* {
	margin: 0;
	padding: 0;
}
body {
	background: #1C1C1C;
}
/* шапка */
header {
	background: #2D2D2D;
	height: 100px;
	width: 1500px;
	

}
/* кнопки */



.language {
	width: 150px;
	height: 60px;
	border: none;
	background: #1F1B1B;
	color: #EBF1ED;
	border-radius: 20px;
	position: absolute;
	/*left: 30px;*/
	top: 20px;
	left: 260px;
}
.exit {
	width: 150px;
	height: 60px;
	border: none;
	background: #1F1B1B;
	color: #EBF1ED;
	border-radius: 20px;
	position: absolute;
	left: 600px;

	top: 20px;
	
}
.about_us {
	width: 150px;
	height: 60px;
	border: none;
	background: #1F1B1B;
	color: #EBF1ED;
	border-radius: 20px;
	position: absolute;
	left: 440px;
	top: 20px;
	
	


}
.per {
	width: 150px;
	height: 60px;
	border: none;
	background: #332B2B;
	color: #EBF1ED;
	border-radius: 20px; 
	position: absolute;
	top: 500px;
	left: 5%;
	
}
.rag {
	width: 150px;
	height: 60px;
	border: none;
	background: #1F1B1B;
	color: #EBF1ED;
	border-radius: 20px;
	position: absolute;
	top: 20px;
	left: 5%;
	
}
/* відео */
.video_1 {
	width: 700px;
	position: absolute;
	top: 120px;
	left: 25%;
}
/* 'Неон' */
.language {
	box-shadow: 0 0 20px 5px #3CEBA2;
	transition: 0.5s;
}
.language:hover {
	box-shadow: 0 0 20px 5px #AE6EF6;
}
.exit {
	box-shadow: 0 0 20px 5px #dd0a0a;
	transition: 0.5s;
}
.exit:hover {
	box-shadow: 0 0 20px 5px #f18b8b;
}
.about_us {
	box-shadow: 0 0 20px 5px #3CEBA2;
	transition: 0.5s;
}
.about_us:hover {
	box-shadow: 0 0 20px 5px #AE6EF6;
}
.rag {
	box-shadow: 0 0 20px 5px #3CEBA2;
	transition: 0.5s;
}
.rag:hover {
	box-shadow: 0 0 20px 5px #AE6EF6;
}